[Unit]
Description=Mac-like-automatic-brightness as service

[Service]
Type=simple
Restart=on-failure
RestartSec=5s

ExecStart=%h/.local/bin/AutomaticBrightness.sh
