[Unit]
Description=Mac-like-automatic-brightness as service
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s

ExecStart=%h/.local/bin/AutomaticBrightness.sh
