[Unit]
Description=Run AQI update every 10 minutes

[Timer]
Unit=aqi-fetch.service
OnBootSec=1min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
