[Unit]
Description=Run eww daemon for widgets
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/sbin/eww daemon --no-daemonize
Restart=on-failure
RestartSec=5s

KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=10s

[Install]
WantedBy=graphical-session.target
