[Unit]
Description=Set wallpaper with SwayBG
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10s

ExecStart=/usr/bin/swaybg -i %h/Pictures/wallpapers/framework/tidie.jpeg -m fill
