[Unit]
Description=Run weather update every 5 minutes

[Timer]
Unit=weather.service
OnBootSec=1min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
