[Unit]
Description=Run weather data fetch
ConditionNetworkOnline=true

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 %h/.local/bin/weather.py getdata
StandardOutput=journal
StandardError=journal
