[Unit]
Description=Starts wlsunset Day/night gamma adjustments for Wayland
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=%h/.local/bin/wlsunset.sh
Restart=on-failure

StartLimitBurst=3
StartLimitIntervalSec=20
