@define-color background-darker rgba(30, 31, 41, 230);
@define-color background rgb(40, 42, 54);
@define-color selection rgb(68, 71, 90);
@define-color foreground rgb(248, 248, 242);
@define-color comment rgb(98, 114, 164);
@define-color cyan rgb(139, 233, 253);
@define-color green rgb(80, 250, 123);
@define-color orange rgb(255, 184, 108);
@define-color pink rgb(255, 121, 198);
@define-color purple rgb(189, 147, 249);
@define-color red rgb(255, 85, 85);
@define-color yellow rgb(241, 250, 140);

* {
  font-family: Mononoki Nerd Font Mono;
  font-size: 14px;
}

window#waybar {
  border-radius: 0px 12px 12px 0px;
  background: rgba(1, 1, 1, 0.99); /*Setting alpha below 1 for GTK fix*/
  background-image: linear-gradient(
    to right,
    black,
    @background-darker,
    @background
  );
  color: @foreground;
}

tooltip {
  background: @background;
  border: 1px solid @purple;
  border-radius: 12px;
}

tooltip label {
  color: @foreground;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 6px 0 6px 0;
}

.modules-left {
  border-radius: 0 12px 0 0;
}

.modules-center {
  border-radius: 0 6px 6px 0;
}

.modules-right {
  border-radius: 0 0 12px 0;
}

#custom-power,
#custom-restart,
#custom-sleep,
#custom-logoff,
#clock,
#custom-weather,
#window,
#idle_inhibitor,
#bluetooth,
#wireplumber,
#network,
#backlight,
#battery {
  margin: 0 5px;
  border-radius: 6px;
}

#custom-power,
#custom-restart,
#custom-sleep,
#custom-logoff,
#clock,
#custom-weather,
#window {
  padding: 5px 0;
}

#custom-power {
  color: @red;
}

#custom-power:hover {
  background: @red;
  color: @background;
}

#custom-restart {
  color: @yellow;
}

#custom-restart:hover {
  background: @yellow;
  color: @background;
}

#custom-sleep {
  color: @purple;
}

#custom-sleep:hover {
  background: @purple;
  color: @background;
}

#custom-logoff {
  color: @orange;
}

#custom-logoff:hover {
  background: @orange;
  color: @background;
}

#custom-weather.hot {
  color: @red;
}

#custom-weather.cold {
  color: @cyan;
}

#taskbar.empty {
  background-color: transparent;
}

#taskbar button {
  padding: 7px 0px 0px 0px;
  border-radius: 6px;
  margin: 3px 0px 3px 0px;
}

#taskbar button.active {
  background-color: @purple;
}

#taskbar button:hover {
  background-color: @selection;
}

#window {
  border-radius: 0 12px 12px 0;
  background-image: linear-gradient(to right, @black, @background-darker);
}

window#waybar.empty #window {
  background-image: none;
  background-color: transparent;
}

#idle_inhibitor,
#bluetooth,
#wireplumber,
#network,
#backlight,
#battery {
  font-size: 18px;
  color: @background;
}

#idle_inhibitor {
  background: @orange;
}

#idle_inhibitor.activated {
  background-image: linear-gradient(to right, @orange, @red);
}

#idle_inhibitor:hover {
  background-image: linear-gradient(to right, @selection, @orange);
}

#bluetooth {
  background: @cyan;
}

#bluetooth.off {
  background: @red;
  color: @foreground;
}

#bluetooth:hover {
  background-image: linear-gradient(to right, @selection, @cyan);
}

#wireplumber {
  background: @purple;
}

#wireplumber.muted {
  background-image: linear-gradient(to right, @purple, @red);
}

#wireplumber:hover {
  background-image: linear-gradient(to right, @selection, @purple);
}

#network {
  background: @green;
}

#network.disconnected,
#network.disabled {
  background-image: linear-gradient(to right, @background, @red);
  color: @foreground;
}

#network:hover {
  background-image: linear-gradient(to right, @selection, @green);
}

#backlight {
  background: @yellow;
}

#backlight:hover {
  background-image: linear-gradient(to right, @selection, @yellow);
}

#battery {
  background: @cyan;
}

#battery.charging {
  background: @green;
}

#battery.warning:not(.charging) {
  background: @orange;
}

#battery.critical:not(.charging) {
  background: @red;
  color: @foreground;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: @cyan;
    color: @background;
  }
}
