@import url("./colors.css");

* {
  border: none;
  border-radius: 0;
  font-family:
    FontAwesome,
    Mononoki Nerd Font Mono,
    sans-serif;
  font-size: 14px;
}

window#waybar {
  background: transparent;
  color: @foreground;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 4px 4px 2px 4px;
}

#clock,
#custom-weather,
#window,
#idle_inhibitor,
#wireplumber,
#network,
#backlight,
#battery,
#custom-power {
  background: linear-gradient(to bottom, @background-darker, @background);
  border-radius: 10px;
  padding: 1px 6px;
}

#clock:hover,
#custom-weather:hover,
#idle_inhibitor:hover,
#wireplumber:hover,
#network:hover,
#backlight:hover,
#battery:hover,
#custom-power:hover {
  background: linear-gradient(to bottom, @background, @selection);
}

#custom-weather.cold {
  color: @cyan;
}

#custom-weather.hot {
  color: @red;
}

window#waybar.empty #window {
  background: transparent;
}

#idle_inhibitor.activated {
  background: linear-gradient(to bottom, @background, @red);
}

#wireplumber {
  color: @purple;
}

#wireplumber.muted {
  color: @red;
}

#network {
  color: @green;
}

#network.disconnected,
#network.disabled {
  color: @red;
}

#backlight {
  color: @yellow;
}

#battery {
  color: @cyan;
}

#battery.warning {
  color: @orange;
}

#battery.critical {
  background-color: @red;
  color: @background;
}

#battery.charging,
#battery.plugged {
  background-color: @green;
}

#custom-power {
  color: @red;
}
