@import "styles/colors.css";

* {
  all: initial; /* Reset GTK theme */
  color: @main-fg;
  font-family: "Mononoki Nerd Font Mono";
  font-weight: bold;
  font-size: 16px;
}

@import "styles/modules-left.css";
@import "styles/modules-center.css";
@import "styles/modules-right.css";

.module {
  margin-bottom: -1px;
}

#waybar {
  background-color: @outline;
}
#waybar > box {
  margin: 4px;
  background-color: @main-bg;
}

button {
  border-radius: 16px;
  min-width: 16px;
  padding: 0 10px;
}
button:hover {
  background-color: @hover-bg;
  color: @hover-fg;
}

tooltip {
  border: 2px solid @accent;
  border-radius: 10px;
  background-color: @main-bg;
}
tooltip > box {
  padding: 0 6px;
}

#window label,
tooltip label {
  font-weight: normal;
}

#custom-distro {
  font-size: 20px;
}

#custom-power {
  font-size: 18px;
}

#custom-left_div,
#custom-left_inv,
#custom-right_div,
#custom-right_inv {
  font-size: 18px;
}
