.cal {
  border-radius: 6px;
  margin: 4px;
  padding: 4px;

  >header {
    padding-bottom: 6px;
    border-bottom: 1px solid $selection;
    font-weight: bold;

    >button {
      color: $selection;

      &:hover {
        color: $foreground;
      }
    }
  }

  >grid {
    padding: 4px;
    margin: 4px;

    >label.day-name {
      font-weight: bold;
      color: $purple;
    }

    >label.today {
      box-shadow: inset 0px -2px $purple;
    }

    >label:focus {
      outline-color: $background;
      outline-offset: -2px;
      outline-width: 2px;
      outline-style: solid;
    }

    >label.day-number.other-month {
      color: $pink;
    }

    >label:hover {
      color: $pink;
    }

  }
}
