// https://niri-wm.github.io/niri

//--- Input ---
include "config.d/input.kdl"

//--- Outputs ---
include "config.d/output.kdl"

//--- Key Bindings ---
include "config.d/keybindings/applaunch.kdl"
include "config.d/keybindings/navigation.kdl"
include "config.d/keybindings/moving.kdl"
include "config.d/keybindings/sizing.kdl"
include "config.d/keybindings/fnkeys.kdl"
binds {
  // Prevent inhibition bypass (ensures shortcuts can't be disabled by apps)
  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}

//--- Switch Events ---
// switch-events {}

//--- Layout ---
include "config.d/layout.kdl"

//--- Miscellaneous ---
include "config.d/miscellaneous.kdl"

//--- Window Rules ---
include "config.d/window_rules.kdl"

//--- Layer Rules ---
include "config.d/layer_rules.kdl"

//--- Animations
animations {
  slowdown 0.75
}

//--- Gestures ---
include "config.d/gestures.kdl"

//--- Recent Windows ---
recent-windows {
  off
}

//--- Debug ---
// debug {}
