//--- Key Bindings ---
binds {
  // Application Launching
  Mod+Shift+Slash { show-hotkey-overlay; }
  Mod+Q hotkey-overlay-title="Close Focused Window" { close-window; }
  Mod+Return hotkey-overlay-title="Terminal: Kitty" { spawn "kitty"; }
  Mod+B hotkey-overlay-title="WebBrowser: Zen"      { spawn "zen-browser"; }
  Mod+E hotkey-overlay-title="FileBrowser"  { spawn "cosmic-files"; }
  Mod+D hotkey-overlay-title="App Launcher: Fuzzel" { spawn "fuzzel"; }

  // Logoff
  Ctrl+Alt+Delete { quit skip-confirmation=true; }
  Mod+Alt+L hotkey-overlay-title="Lock the Screen"  { spawn "hyprlock"; }
}
