//--- Key Bindings ---
binds {
  // Change Window Sizing
  // Width
  Mod+R      { switch-preset-column-width; }
  Mod+Ctrl+F { expand-column-to-available-width; }
  Mod+Minus  { set-column-width "-10%"; }
  Mod+Equal  { set-column-width "+10%"; }
  // Height
  Mod+Shift+R hotkey-overlay-title="Switch Preset Window Heights" { switch-preset-window-height; }
  Mod+Ctrl+R      { reset-window-height; }
  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }

  Mod+M { maximize-column; }
  Mod+F { fullscreen-window; }
}
