// Weather
.weather-container {
  background: $background-darker;
  border: 1px solid $purple;
  border-radius: 20px;
}

.weather-icon {
  font-size: 120px;
  font-weight: normal;
  margin-left: 30px;
}

.weather-temp {
  color: $foreground;
  font-size: 50px;
  font-weight: bold;
  margin-right: 30px;
}

.weather-desc {
  color: $comment;
  font-size: 38px;
  font-weight: bold;
}

.weather-feel {
  color: $foreground;
  font-size: 18px;
  font-weight: normal;
}

.weather-humidity {
  color: $foreground;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 10px;
}
