// Weather
.weather-container {
  background: $background-darker;
  border: 1px solid $purple;
  border-radius: 20px;
}

.weather-icon {
  font-size: 120px;
  font-weight: normal;
  margin-left: 50px;
}

.weather-temp {
  color: $foreground;
  font-size: 50px;
  font-weight: bold;
  margin-right: 50px;
}

.weather-desc {
  color: $comment;
  font-size: 38px;
  font-weight: bold;
}

.weather-feel,
.weather-humidity,
.air-pollution {
  color: $foreground;
}

.weather-feel,
.weather-humidity,
.spacer,
.air-pollution {
  font-size: 18px;
  font-weight: normal;
}

.spacer {
  color: $cyan;
}

.weather-humidity,
.spacer,
.air-pollution {
  padding-bottom: 10px
}
