.eww_bar {
  font-family: Mononoki Nerd Font Mono;
  font-size: 14px;
  margin: 1px 3px 0 3px;
  border-radius: 6px;
  background: rgba($background-darker, 0.4);
  color: $foreground;
}

.b_left,
.b_center,
.b_right {
  padding: 3px 6px 3px 6px;
}

tooltip {
  font-family: Mononoki Nerd Font Mono;
  border-radius: 6px;
  border: 1px solid $purple;
  background: rgba($background, 0.99); /*Set alpha below 1 for GTK fix*/
  color: $foreground;
}

.b_power,
.b_but_shutdown,
.b_but_reboot,
.b_but_sleep,
.b_but_logoff {
  padding: 0 6px;
  border-radius: 6px;
  background: $background-darker;
}

.b_but_shutdown {
  color: $red;
}

.b_but_reboot {
  color: $yellow;
}

.b_but_sleep {
  color: $purple;
}

.b_but_logoff {
  color: $orange;
}

.b_clock {
  padding: 0 6px;
}

.b_clock_icon {
  border-radius: 6px 0 0 6px;
  padding: 0 12px;
  background: $yellow;
  color: $background;
  font-size: 18px;
}

.b_clock_time {
  border-radius: 0 6px 6px 0;
  padding: 0 6px;
  background: $background-darker;
  color: $foreground;
}

.b_weather {
  padding: 0 6px;
  &.hot {
    color: $red;
  }
  &.cold {
    color: $cyan;
  }
}

.b_weather_icon {
  border-radius: 6px 0 0 6px;
  padding: 0 12px;
  background: $yellow;
  color: $background;
  font-size: 18px;
}

.b_weather_temp {
  border-radius: 0 6px 6px 0;
  padding: 0 6px;
  background: $background-darker;
  color: $foreground;
}

.b_container {
  margin: 0 6px;
  color: $background;
}

.b_cont_icon {
  font-size: 18px;
  border-radius: 6px 0 0 6px;
  padding: 0 6px;
  color: $background;
}

.b_cont_info {
  border-radius: 0 6px 6px 0;
  padding: 0 6px;
  background: $background;
  color: $foreground;
}

.b_vol_icon {
  background: linear-gradient(to bottom, $selection, $purple);
  &.mute {
    background: linear-gradient(to bottom, $background, $red);
  }
}

.b_net_icon {
  background: linear-gradient(to bottom, $background, $red);
  &.up {
    background: linear-gradient(to bottom, $selection, $green);
  }
}

.b_brit_icon {
  background: linear-gradient(to bottom, $selection, $yellow);
}

.b_bat_icon {
  background: linear-gradient(to bottom, $selection, $cyan);
  &.charging {
    background: linear-gradient(to bottom, $selection, $green);
  }
  &.low {
    background: linear-gradient(to bottom, $selection, $orange);
  }
  &.critical {
    background: linear-gradient(to bottom, $selection, $red);
  }
}
