.eww_bar {
  font-family: Mononoki Nerd Font Mono;
  font-size: 14px;
  margin: 1px 3px 0 3px;
  border-radius: 6px;
  background: rgba($background-darker, 0.8);
  color: $foreground;
}

.b_left,
.b_center,
.b_right {
  padding: 3px 6px 3px 6px;
}

tooltip {
  font-family: Mononoki Nerd Font Mono;
  border-radius: 6px;
  border: 1px solid $purple;
  background: rgba($background, 0.99); /*Set alpha below 1 for GTK fix*/
  color: $foreground;
}

.b_power,
.b_button {
  padding: 0 6px;
  border-radius: 6px;
  background: $background-darker;
}

.b_but_shutdown {
  color: $red;
}

.b_but_reboot {
  color: $yellow;
}

.b_but_sleep {
  color: $purple;
}

.b_but_logoff {
  color: $orange;
}

.b_container {
  margin: 0 6px;
}

.b_cont_icon {
  font-size: 18px;
  border-radius: 6px 0 0 6px;
  padding: 0 6px;
  color: $background-darker;
}

.b_cont_info {
  border-radius: 0 6px 6px 0;
  padding: 0 6px;
  background: $background-darker;
}

.b_date_icon,
.b_clock_icon {
  background: linear-gradient(to bottom, $selection, $yellow, $yellow);
}

.b_weather_icon {
  background: linear-gradient(to bottom, $selection, $orange);
  &.hot {
    background: linear-gradient(to bottom, $selection, $red);
  }
  &.cold {
    background: linear-gradient(to bottom, $selection, $cyan);
  }
}

.b_window_name {
  margin: 0 6px;
  padding: 0 6px;
  border-radius: 6px;
  background: $background-darker;
  font-weight: bold;
  &.empty {
    background: transparent;
  }
}

.b_volume_icon {
  background: linear-gradient(to bottom, $selection, $purple);
  &.mute {
    background: linear-gradient(to bottom, $background, $red);
  }
}

/* Available extra's for network
  blocked, up, wired, down */
.b_network_icon {
  background: linear-gradient(to bottom, $background, $orange);
  &.blocked,
  &.down {
    background: linear-gradient(to bottom, $background, $red);
  }
  &.up,
  &.wired {
    background: linear-gradient(to bottom, $selection, $green);
  }
}

.b_brightness_icon {
  background: linear-gradient(to bottom, $selection, $yellow);
}

.b_battery_icon {
  background: linear-gradient(to bottom, $selection, $cyan);
  &.charging {
    background: linear-gradient(to bottom, $selection, $green);
  }
  &.low {
    background: linear-gradient(to bottom, $selection, $orange);
  }
  &.critical {
    background: linear-gradient(to bottom, $selection, $red);
  }
}
