.cal-box {
  font-weight: bold;
  font-size: 0.9rem;
  background-color: $background;
  border-radius: 12px;
  border: 1px solid $purple;
  padding: 0 1rem 0.2rem;
  color: $foreground;

  .cal-date {
    padding: 0.5rem 0.15rem 0.2rem;
    margin: 5px 0 0 5px;
  }

  .cal {
    background-color: inherit;
    padding: 0.5rem 0.15rem 0.2rem;

    &.highlight {
      padding: 10rem;
    }
  }
}

calendar:selected {
  color: $purple;
}

calendar.button {
  color: $selection;
}

calendar.highlight {
  color: $purple;
  font-weight: bold;
}

calendar:indeterminate {
  color: $pink;
}
