.power-box {
  background: $background-darker;
  border-radius: 1rem;
  padding: 1rem;
  color: $foreground;
  box-shadow: 0 0 4px 2px $background;
  margin: 0.5rem;
}

.power-button {
  background: $background;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 0.5rem;
  font-size: 1.8em;
}

.power-button:hover {
  background: $selection;
}
