// Weather
.weather-container {
  font-family: Hack;
  background: $background-darker;
  border-radius: 1rem;
  padding: 1rem;
  color: $foreground;
  box-shadow: 0 0 4px 2px $background;
  margin: 0.5rem;
}

.weather-location {
  font-size: 1.7em;
  font-weight: bold;
  margin-top: 1rem;
}

.weather-sun,
.weather-minmax {
  font-size: 1.1em;
}

.weather-temp {
  font-size: 4em;
  margin-left: 1.5rem;

  &.more {
    color: $red;
  }

  &.less {
    color: $cyan;
  }
}

.weather-degree {
  font-size: 1.8em;
}

.weather-desc {
  font-size: 2em;
}

.weather-extras {
  margin: 0.5rem 0;
}

.weather-section {
  padding: 0 0.5em;
}

.w-feel-icon,
.w-wind-icon,
.w-cloud-icon,
.w-humidity-icon {
  font-size: 1.3em;
}

.w-humidity-icon {
  margin: -5.5px 0;
  font-size: 2em;
}

.w-feel-data,
.w-wind-data,
.w-cloud-data,
.w-humidity-data {
  font-size: 1.1em;
}

.weather-temp,
.w-feel-icon {
  &.less {
    color: $cyan;
  }

  &.more {
    color: $red;
  }
}

.w-wind-icon {
  &.more {
    color: $red;
  }
}

.w-humidity-icon {
  &.more {
    color: $cyan;
  }

  &.less {
    color: $red;
  }
}

.aqi-box {
  border-radius: 1em;
  padding: 1em;
  margin: 0.5em;
  background-color: $background;
}

.aqi-main {
  margin-right: 2em;
}

.aqi-label {
  font-size: 1.5em;
}

.aqi-text {
  font-size: 1em;
}

.aqi-bar trough {
  background-color: $selection;
  border-radius: 1rem;
  min-height: 3px;
}

.aqi-bar trough highlight {
  background-color: $red;
  border-radius: 1rem;
  min-height: 3px;
}
