.weather {
  font-family: Hack Nerd Font Mono;
  border-radius: 12px;
  background: rgba($background-darker, 0.99);
  border: 1px solid $purple;
  padding: 1rem;
  color: $foreground;
}

.w_main {
  background: transparent;
}

.w_desc {
  font-size: 1.5em;
}

.w_temp {
  font-size: 4em;
}

.w_feeltemp {
  font-size: 1.3em;
}

.w_day,
.w_spacer,
.w_night {
  font-size: 0.8em;
}

.w_alert {
  margin: 1rem;
  border-radius: 12px;
  padding: 1em;
  background-color: $background;
  &.empty {
    all: unset;
  }
}

.w_alert_icon {
  color: $purple;
  font-size: 24px;
}

.w_alert_name {
  font-weight: bold;
}

.w_aqi,
.w_wind {
  margin: 1rem;
  border-radius: 9999px;
  padding: 1em;
  background-color: $background;
}

.aqi-progress {
  background-color: $selection;
}
.aqi-1 {
  color: $green;
}
.aqi-2 {
  color: $yellow;
}
.aqi-3 {
  color: $orange;
}
.aqi-4 {
  color: $red;
}
.aqi-5 {
  color: $purple;
}

.aqi-info {
  color: $foreground;
  font-size: 1em;
  margin: 2.3em;
}

.aqi-label,
.aqi-num,
.aqi-desc {
  padding: 5px;
}

.aqi-label {
  font-size: 0.9em;
}

.aqi-desc {
  font-size: 1.4em;
}

.w_hum,
.w_sun,
.w_moon,
.w_rain {
  margin: 1rem;
  border-radius: 12px;
  padding: 1em;
}

.w_hum_label,
.w_hum_perc,
.w_hum_dew,
.w_sun_label,
.w_moon_label,
.w_rain_label {
  padding: 5px;
}

.w_sun_label {
  &.day {
    color: $yellow;
  }
}

.w_moon_label {
  &.day {
    color: $selection;
  }
}

.w_hum_label,
.w_sun_label,
.w_moon_label,
.w_wind_label,
.w_rain_label {
  font-weight: bold;
}

.w_hum_perc,
.w_rain_speed {
  font-size: 1.8em;
}

.w_hum_dew,
.w_rain_daily {
  font-size: 0.8em;
}

.w_sun,
.w_moon,
.w_rain {
  background: $background;
}

.w_sun_info {
  &.low {
    color: $green;
  }
  &.moderate {
    color: $yellow;
  }
  &.high {
    color: $orange;
  }
  &.veryhigh {
    color: $red;
  }
  &.extreem {
    color: $purple;
  }
}
