// Weather
.weather-container {
  background: $background-darker;
  border-radius: 1rem;
  padding: 1rem;
  color: $foreground;
  box-shadow: 0 0 4px 2px $background;
  margin: 0.5rem;
}

.weather-refresh,
.weather-close {
  background-color: $background;
  border-radius: 3em;
  padding: 0 1.2rem;
  font-size: 3em;
}

.weather-refresh:hover,
.weather-close:hover {
  background: linear-gradient(180deg, $selection, $background);
}

.weather-refresh {
  margin-right: 3rem;
}

.weather-close {
  margin-left: 3rem;
}

.weather-location {
  font-size: 1.7em;
  margin-top: 1rem;
}

.weather-icon {
  font-size: 7em;
  margin-right: 1.5rem;
}

.weather-temp {
  font-size: 3em;
  margin-left: 1.5rem;
}

.weather-minmax {
  font-size: 1.5em;
  margin: 1.5rem 0;
}

.weather-templ,
.weather-temph {
  &.less {
    color: $cyan;
  }

  &.more {
    color: $red;
  }
}

.weather-desc {
  font-size: 2em;
}


.weather-extras,
.weather-sun {
  margin: 0.5rem 0;
}

.weather-section {
  padding: 0 0.5em;
}

.weather-temp,
.weather-feel-data {
  &.less {
    color: $cyan;
  }

  &.more {
    color: $red;
  }
}

.weather-wind-data {
  &.more {
    color: $red;
  }
}
