//--- Layer Rules ---
// https://niri-wm.github.io/niri/Configuration%3A-Layer-Rules.html
layer-rule {
  match namespace="^wallpaper$"
  match namespace="awww-daemon"
  place-within-backdrop true
}

layer-rule {
  match namespace="^notifications$"
  block-out-from "screencast"
}

layer-rule {
  match namespace="^launcher$"

  shadow {
    on
  }

  geometry-corner-radius 12
}
