//--- Layout ---
layout {
  gaps 4
  center-focused-column "never"
  always-center-single-column
  background-color "transparent"
  default-column-display "normal"

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  default-column-width {}

  preset-window-heights {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  focus-ring {
    width 1
    active-gradient from="#cba6f7" to="#b4befe" angle=45 in="oklch longer hue"
    inactive-gradient from="#b4befe" to="#585b70" angle=45 relative-to="workspace-view"
    urgent-gradient from="#f9e2af" to="#fab387" angle=45
  }

  border { off; }
  insert-hint {
    on
    color "#fab387"
    gradient from="#fab387" to="#b4befe" angle=45 relative-to="workspace-view"
  }
}
